# Dependencies
node_modules/
dist/
build/
.cache/

# Environment variables
.env
.env.local
.env.development
.env.production

# Firebase
.firebaserc
firebase-debug.log

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.suo
*.swp

# Docker
.dockerignore
