PORT=5001
CLIENT_URL=http://localhost:5173

# Firebase Admin credentials options
# Use ONE of the following:
# FIREBASE_SERVICE_ACCOUNT_JSON={"type":"service_account",...}
# FIREBASE_SERVICE_ACCOUNT_BASE64=eyJ0eXBlIjoi...
# GOOGLE_APPLICATION_CREDENTIALS=./src/config/serviceAccountKey.json